
.Datasetselectionforanalysis_Datasetselectionforanalysis {
	width: 1520px;
	height: 1097px;
	position: relative;
	left: 0px;
	top: 0px;
	margin: auto;
	width: 100%;
	height: 100vh;
	overflow: auto;
	background: rgba(235,240,255,1.00);
	border: 1px solid rgba(0,0,0,1);
	box-sizing: border-box;
}
.Datasetselectionforanalysis_Datasetselectionforanalysis .Questionnaire .Questionnaire_1 {
	position: absolute;
	/* left: 0px;
	top: 0px;
	width: 106.41025934567135%;
	height: 100%;
	display: flex;
	align-items: center;
	color: rgba(37,40,43,1.00);
	font-family: Roboto;
	font-size: 13px;
	font-weight: 700;
	line-height: 20px; */
}
.Datasetselectionforanalysis_Datasetselectionforanalysis .Definedesiredgroup {
	position: absolute;
	left: 556px;
	top: 155px;
	width: 329px;
	height: 29px;
	display: flex;
	justify-content: center;
	text-align: center;
	align-items: center;
	color: rgba(0,0,0,1.00);
	font-family: Roboto;
	font-size: 27.147384643554688px;
	font-weight: 700;
	line-height: 28.957210540771484px;
}
.Datasetselectionforanalysis_Datasetselectionforanalysis .Header {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 1440px;
	height: 80px;
}
.Datasetselectionforanalysis_Datasetselectionforanalysis .Header .Rectangle {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	background: rgba(14,25,64,1.00);
}
.Datasetselectionforanalysis_Datasetselectionforanalysis .Header .IconLogOut {
	position: absolute;
	left: 1375px;
	top: 24px;
	width: 2.2222222222222223%;
	height: 40%;
}
.Datasetselectionforanalysis_Datasetselectionforanalysis .Header .IconLogOut .Frame {
	position: absolute;
	left: 1.333251953125px;
	top: 2.6666717529296875px;
	width: 91.66641235351562%;
	height: 83.33334922790527%;
}
.Datasetselectionforanalysis_Datasetselectionforanalysis .Header .IconLogOut .Frame .Group {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
}
.Datasetselectionforanalysis_Datasetselectionforanalysis .Header .IconLogOut .Frame .Group .Vector {
	position: absolute;
	left: 10.476318359375px;
	top: 5.925933837890625px;
	width: 64.28601153567654%;
	height: 55.55556191338312%;
}
.Datasetselectionforanalysis_Datasetselectionforanalysis .Header .IconCircleFill {
	position: absolute;
	left: 1323px;
	top: 24px;
	width: 2.2222222222222223%;
	height: 40%;
}
.Datasetselectionforanalysis_Datasetselectionforanalysis .Header .IconCircleFill .Mask {
	position: absolute;
	left: 2.666748046875px;
	top: 2.6666717529296875px;
	width: 83.33358764648438%;
	height: 83.33334922790527%;
}
.Datasetselectionforanalysis_Datasetselectionforanalysis .Header .ElmindaLogo {
	position: absolute;
	left: 20px;
	top: 23px;
	width: 9.583333333333334%;
	height: 37.37499237060547%;
}
.Datasetselectionforanalysis_Datasetselectionforanalysis .Header .ElmindaLogo .Group_1 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100.33446864190626%;
}
.Datasetselectionforanalysis_Datasetselectionforanalysis .Header .ElmindaLogo .Group_1 .Vector_2 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
}
.Datasetselectionforanalysis_Datasetselectionforanalysis .Header .RichardMcClintock {
	position: absolute;
	left: 1095px;
	top: 18px;
	width: 15.48611111111111%;
	height: 27.500000000000004%;
	color: rgba(227,242,253,1.00);
	font-family: Roboto;
	font-size: 24px;
	font-weight: 500;
	line-height: 28.125px;
}
.Datasetselectionforanalysis_Datasetselectionforanalysis .Header .Elminda {
	position: absolute;
	left: 1095px;
	top: 42px;
	width: 8.88888888888889%;
	height: 27.500000000000004%;
	color: rgba(227,242,253,1.00);
	font-family: Roboto;
	font-size: 18px;
	font-weight: 400;
	line-height: 21.09375px;
}

.Datasetselectionforanalysis_Datasetselectionforanalysis .selectsite {
	position: absolute;
	left: 1120px;
	top: 238px;
	width: 49.87255859375px;
	height: 34px;
}
.Datasetselectionforanalysis_Datasetselectionforanalysis .selectsite .Questionnaire_2 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 47px;
	height: 34px;
}
.Datasetselectionforanalysis_Datasetselectionforanalysis .selectsite .Questionnaire_2 .Questionnaire_3 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 106.40999002659575%;
	height: 100%;
	display: flex;
	align-items: center;
	color: rgba(37,40,43,1.00);
	font-family: Roboto;
	font-size: 13px;
	font-weight: 700;
	line-height: 20px;
}
.Datasetselectionforanalysis_Datasetselectionforanalysis .selectsite .iconicofontdirectionalsimpledown {
	position: absolute;
	left: 28px;
	top: 3px;
	width: 43.85690088996368%;
	height: 81.0302734375%;
	background: linear-gradient(0deg, rgba(0,0,0,0.20), rgba(0,0,0,0.20));
}
.Datasetselectionforanalysis_Datasetselectionforanalysis .selectsite .iconicofontdirectionalsimpledown ._ {
	position: absolute;
	left: 4.374267578125px;
	top: 9.146728515625px;
	width: 60%;
	height: 38.600061145277635%;
}
.Datasetselectionforanalysis_Datasetselectionforanalysis .selectGender {
	position: absolute;
	left: 989px;
	top: 238px;
	width: 66.87255859375px;
	height: 34px;
}
.Datasetselectionforanalysis_Datasetselectionforanalysis .selectGender .Gender {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 88.22751998831733%;
	height: 100%;
	display: flex;
	align-items: center;
	color: rgba(37,40,43,1.00);
	font-family: Roboto;
	font-size: 13px;
	font-weight: 700;
	line-height: 20px;
}
.Datasetselectionforanalysis_Datasetselectionforanalysis .selectGender .iconicofontdirectionalsimpledown_1 {
	position: absolute;
	left: 45px;
	top: 4px;
	width: 32.70782373772407%;
	height: 81.0302734375%;
	background: linear-gradient(0deg, rgba(0,0,0,0.20), rgba(0,0,0,0.20));
}
.Datasetselectionforanalysis_Datasetselectionforanalysis .selectGender .iconicofontdirectionalsimpledown_1 .__1 {
	position: absolute;
	left: 4.374267578125px;
	top: 9.146728515625px;
	width: 60%;
	height: 38.600061145277635%;
}
.Datasetselectionforanalysis_Datasetselectionforanalysis .Group12 {
	position: absolute;
	left: 452px;
	top: 248px;
	width: 174px;
	height: 34.4378662109375px;
}
.Datasetselectionforanalysis_Datasetselectionforanalysis .Group12 .Questionnaire_4 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 106.629150390625px;
	height: 34.4378662109375px;
}
.Datasetselectionforanalysis_Datasetselectionforanalysis .Group12 .Questionnaire_4 .Questionnaire_5 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 106.41025934567135%;
	height: 100%;
	display: flex;
	align-items: center;
	color: rgba(37,40,43,1.00);
	font-family: Roboto;
	font-size: 13px;
	font-weight: 700;
	line-height: 20px;
}
.Datasetselectionforanalysis_Datasetselectionforanalysis .Group12 .Group7 {
	position: absolute;
	left: 92px;
	top: 4px;
	width: 82px;
	height: 27px;
}
.Datasetselectionforanalysis_Datasetselectionforanalysis .Group12 .Group7 .Questionnaire_6 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 62px;
	height: 27px;
	background: rgba(212,204,204,1.00);
}
.Datasetselectionforanalysis_Datasetselectionforanalysis .Group12 .Group7 .Questionnaire_6 .Questionnaire_7 {
	position: absolute;
	left: 0px;
	top: 3px;
	width: 83.87096774193549%;
	height: 74.07407407407408%;
	display: flex;
	align-items: center;
	color: rgba(82,87,92,1.00);
	font-family: Roboto;
	font-size: 13px;
	font-weight: 700;
	line-height: 20px;
}
.Datasetselectionforanalysis_Datasetselectionforanalysis .Group12 .Group7 .iconicofontdirectionalsimpledown_2 {
	position: absolute;
	left: 61px;
	top: 0px;
	width: 25.609756097560975%;
	height: 100%;
	background: rgba(212,204,204,1.00);
}
.Datasetselectionforanalysis_Datasetselectionforanalysis .Group12 .Group7 .iconicofontdirectionalsimpledown_2 .__2 {
	position: absolute;
	left: 4.19970703125px;
	top: 8.964019775390625px;
	width: 60.000465029761905%;
	height: 38.59998914930556%;
}
.Datasetselectionforanalysis_Datasetselectionforanalysis .Group32 {
	position: absolute;
	left: 1234px;
	top: 238px;
	width: 112.470458984375px;
	height: 34px;
}
.Datasetselectionforanalysis_Datasetselectionforanalysis .Group32 .Questionnaire_8 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 59px;
	height: 34px;
}
.Datasetselectionforanalysis_Datasetselectionforanalysis .Group32 .Questionnaire_8 .Questionnaire_9 {
	position: absolute;
	left: 0px;
	top: 7px;
	width: 149.15254237288136%;
	height: 58.82352941176471%;
	display: flex;
	align-items: center;
	color: rgba(37,40,43,1.00);
	font-family: Roboto;
	font-size: 13px;
	font-weight: 700;
	line-height: 20px;
}
.Datasetselectionforanalysis_Datasetselectionforanalysis .Group32 .iconicofontdirectionalsimpledown_3 {
	position: absolute;
	left: 92px;
	top: 50.56641522575828%;
	transform: translate(0, -50%);
	width: 20.470458984375px;
	height: 28.385162353515625px;
	background: linear-gradient(0deg, rgba(0,0,0,0.20), rgba(0,0,0,0.20));
}
.Datasetselectionforanalysis_Datasetselectionforanalysis .Group32 .iconicofontdirectionalsimpledown_3 .__3 {
	position: absolute;
	left: 4.093994140625px;
	top: 9.42388916015625px;
	width: 59.99976147029709%;
	height: 38.59997312189222%;
}
.Datasetselectionforanalysis_Datasetselectionforanalysis .selectdisorder {
	position: absolute;
	left: 303px;
	top: 251px;
	width: 85.4705810546875px;
	height: 35px;
}
.Datasetselectionforanalysis_Datasetselectionforanalysis .selectdisorder .iconicofontdirectionalsimpledown_4 {
	position: absolute;
	left: 65px;
	top: 0px;
	width: 23.950440961188274%;
	height: 81.1004638671875%;
	background: linear-gradient(0deg, rgba(0,0,0,0.20), rgba(0,0,0,0.20));
}
.Datasetselectionforanalysis_Datasetselectionforanalysis .selectdisorder .iconicofontdirectionalsimpledown_4 .__4 {
	position: absolute;
	left: 4.093994140625px;
	top: 9.42388916015625px;
	width: 60%;
	height: 38.59997312189222%;
}
.Datasetselectionforanalysis_Datasetselectionforanalysis .selectdisorder .selectVisit {
	position: absolute;
	left: 0px;
	top: 1px;
	width: 59px;
	height: 34px;
}
.Datasetselectionforanalysis_Datasetselectionforanalysis .selectdisorder .selectVisit .Questionnaire_10 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
}
.Datasetselectionforanalysis_Datasetselectionforanalysis .selectdisorder .selectVisit .Questionnaire_10 .Questionnaire_11 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 106.41034659692797%;
	height: 100%;
	display: flex;
	align-items: center;
	color: rgba(37,40,43,1.00);
	font-family: Roboto;
	font-size: 13px;
	font-weight: 700;
	line-height: 20px;
}
/* 
.numberButtons button {
	padding: 0px !important;
	width :25%;
	height : 25%;
}

li .menu-items{
	padding: 3px !important;
	width:px !important;
	height:18px !important;
} */


.input {
	position: absolute;
	left: 80px;
	top: 270px
}