
.Exporttocodeerrorsdeletemeanytime_Exporttocodeerrorsdeletemeanytime {
	position: relative;
	left: 0px;
	top: 0px;
	margin: auto;
	width: 100%;
	height: 100vh;
	overflow: auto;
}
.Exporttocodeerrorsdeletemeanytime_Exporttocodeerrorsdeletemeanytime .Mainpageneedstouseautolayoutorbearasterizedimage {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 1440px;
	height: 1097px;
	border: 4px solid rgba(255,0,0,1);
	box-sizing: border-box;
}
.Exporttocodeerrorsdeletemeanytime_Exporttocodeerrorsdeletemeanytime .othernavigationhorizontaldektopneedstouseautolayoutorbearasterizedimage {
	position: absolute;
	left: 0px;
	top: 116px;
	width: 1440px;
	height: 88px;
	border: 4px solid rgba(255,0,0,1);
	box-sizing: border-box;
}
.Exporttocodeerrorsdeletemeanytime_Exporttocodeerrorsdeletemeanytime .textfieldsearchroundeddefaultneedstouseautolayoutorbearasterizedimage {
	position: absolute;
	left: 339px;
	top: 140px;
	width: 350px;
	height: 40px;
	border: 4px solid rgba(255,0,0,1);
	box-sizing: border-box;
}
.Exporttocodeerrorsdeletemeanytime_Exporttocodeerrorsdeletemeanytime .iconicofontwebsearchdefaultneedstouseautolayoutorbearasterizedimage {
	position: absolute;
	left: 355px;
	top: 153px;
	width: 14px;
	height: 14px;
	border: 4px solid rgba(255,0,0,1);
	box-sizing: border-box;
}
.Exporttocodeerrorsdeletemeanytime_Exporttocodeerrorsdeletemeanytime .Vectorneedstouseautolayoutorbearasterizedimage {
	position: absolute;
	left: 355px;
	top: 153.091064453125px;
	width: 13.9998779296875px;
	height: 13.81103515625px;
	border: 4px solid rgba(255,0,0,1);
	box-sizing: border-box;
}
.Exporttocodeerrorsdeletemeanytime_Exporttocodeerrorsdeletemeanytime .logolongneedstouseautolayoutorbearasterizedimage {
	position: absolute;
	left: 165px;
	top: 145px;
	width: 142px;
	height: 30px;
	border: 4px solid rgba(255,0,0,1);
	box-sizing: border-box;
}
.Exporttocodeerrorsdeletemeanytime_Exporttocodeerrorsdeletemeanytime .othernavigationhorizontaldektopmenuneedstouseautolayoutorbearasterizedimage {
	position: absolute;
	left: -81px;
	top: 224px;
	width: 1521px;
	height: 48px;
	border: 4px solid rgba(255,0,0,1);
	box-sizing: border-box;
}
.Exporttocodeerrorsdeletemeanytime_Exporttocodeerrorsdeletemeanytime .dividerneedstouseautolayoutorbearasterizedimage {
	position: absolute;
	left: 689px;
	top: 236px;
	width: 1px;
	height: 24px;
	border: 4px solid rgba(255,0,0,1);
	box-sizing: border-box;
}
.Exporttocodeerrorsdeletemeanytime_Exporttocodeerrorsdeletemeanytime .iconicofontdirectionalsimpledownneedstouseautolayoutorbearasterizedimage {
	position: absolute;
	left: 812px;
	top: 241px;
	width: 16px;
	height: 16px;
	border: 4px solid rgba(255,0,0,1);
	box-sizing: border-box;
}
.Exporttocodeerrorsdeletemeanytime_Exporttocodeerrorsdeletemeanytime .needstouseautolayoutorbearasterizedimage {
	position: absolute;
	left: 815.199951171875px;
	top: 246.31201171875px;
	width: 9.60009765625px;
	height: 6.176025390625px;
	border: 4px solid rgba(255,0,0,1);
	box-sizing: border-box;
}
.Exporttocodeerrorsdeletemeanytime_Exporttocodeerrorsdeletemeanytime .Headerneedstouseautolayoutorbearasterizedimage {
	position: absolute;
	left: -4px;
	top: -1px;
	width: 1440px;
	height: 80px;
	border: 4px solid rgba(255,0,0,1);
	box-sizing: border-box;
}
.Exporttocodeerrorsdeletemeanytime_Exporttocodeerrorsdeletemeanytime .IconLogOutneedstouseautolayoutorbearasterizedimage {
	position: absolute;
	left: 1371px;
	top: 23px;
	width: 32px;
	height: 32px;
	border: 4px solid rgba(255,0,0,1);
	box-sizing: border-box;
}
.Exporttocodeerrorsdeletemeanytime_Exporttocodeerrorsdeletemeanytime .Frameneedstouseautolayoutorbearasterizedimage {
	position: absolute;
	left: 1372.33349609375px;
	top: 25.6666259765625px;
	width: 29.333251953125px;
	height: 26.6666259765625px;
	border: 4px solid rgba(255,0,0,1);
	box-sizing: border-box;
}
.Exporttocodeerrorsdeletemeanytime_Exporttocodeerrorsdeletemeanytime .Groupneedstouseautolayoutorbearasterizedimage {
	position: absolute;
	left: 1372.33349609375px;
	top: 25.6666259765625px;
	width: 29.333251953125px;
	height: 26.6666259765625px;
	border: 4px solid rgba(255,0,0,1);
	box-sizing: border-box;
}
.Exporttocodeerrorsdeletemeanytime_Exporttocodeerrorsdeletemeanytime .Vectorneedstouseautolayoutorbearasterizedimage_1 {
	position: absolute;
	left: 1382.8095703125px;
	top: 31.5926513671875px;
	width: 18.857177734375px;
	height: 14.8148193359375px;
	border: 4px solid rgba(255,0,0,1);
	box-sizing: border-box;
}
.Exporttocodeerrorsdeletemeanytime_Exporttocodeerrorsdeletemeanytime .Vectorneedstouseautolayoutorbearasterizedimage_2 {
	position: absolute;
	left: 1372.33349609375px;
	top: 25.6666259765625px;
	width: 18.15869140625px;
	height: 26.6666259765625px;
	border: 4px solid rgba(255,0,0,1);
	box-sizing: border-box;
}
.Exporttocodeerrorsdeletemeanytime_Exporttocodeerrorsdeletemeanytime .IconCircleFillneedstouseautolayoutorbearasterizedimage {
	position: absolute;
	left: 1319px;
	top: 23px;
	width: 32px;
	height: 32px;
	border: 4px solid rgba(255,0,0,1);
	box-sizing: border-box;
}
.Exporttocodeerrorsdeletemeanytime_Exporttocodeerrorsdeletemeanytime .Maskneedstouseautolayoutorbearasterizedimage {
	position: absolute;
	left: 1321.66650390625px;
	top: 25.6666259765625px;
	width: 26.666748046875px;
	height: 26.6666259765625px;
	border: 4px solid rgba(255,0,0,1);
	box-sizing: border-box;
}
.Exporttocodeerrorsdeletemeanytime_Exporttocodeerrorsdeletemeanytime .Pathneedstouseautolayoutorbearasterizedimage {
	position: absolute;
	left: 1324.33349609375px;
	top: 28.3333740234375px;
	width: 26.666748046875px;
	height: 26.6666259765625px;
	border: 4px solid rgba(255,0,0,1);
	box-sizing: border-box;
}
.Exporttocodeerrorsdeletemeanytime_Exporttocodeerrorsdeletemeanytime .Pathneedstouseautolayoutorbearasterizedimage_1 {
	position: absolute;
	left: 1333.66650390625px;
	top: 32.3333740234375px;
	width: 8px;
	height: 8px;
	border: 4px solid rgba(255,0,0,1);
	box-sizing: border-box;
}
.Exporttocodeerrorsdeletemeanytime_Exporttocodeerrorsdeletemeanytime .Pathneedstouseautolayoutorbearasterizedimage_2 {
	position: absolute;
	left: 1329.66650390625px;
	top: 42.86669921875px;
	width: 16px;
	height: 8.4000244140625px;
	border: 4px solid rgba(255,0,0,1);
	box-sizing: border-box;
}
.Exporttocodeerrorsdeletemeanytime_Exporttocodeerrorsdeletemeanytime .ElmindaLogoneedstouseautolayoutorbearasterizedimage {
	position: absolute;
	left: 16px;
	top: 22px;
	width: 138px;
	height: 29.9000244140625px;
	border: 4px solid rgba(255,0,0,1);
	box-sizing: border-box;
}
.Exporttocodeerrorsdeletemeanytime_Exporttocodeerrorsdeletemeanytime .Groupneedstouseautolayoutorbearasterizedimage_1 {
	position: absolute;
	left: 16px;
	top: 22px;
	width: 138px;
	height: 30px;
	border: 4px solid rgba(255,0,0,1);
	box-sizing: border-box;
}
.Exporttocodeerrorsdeletemeanytime_Exporttocodeerrorsdeletemeanytime .Vectorneedstouseautolayoutorbearasterizedimage_3 {
	position: absolute;
	left: 16px;
	top: 22px;
	width: 138px;
	height: 30px;
	border: 4px solid rgba(255,0,0,1);
	box-sizing: border-box;
}