
.Summarizethedata_Summarizethedata {
	position: relative;
	left: 0px;
	top: 0px;
	margin: auto;
	width: 100%;
	height: 100vh;
	overflow: auto;
	background: rgba(235,240,255,1.00);
	border: 1px solid rgba(0,0,0,1);
	box-sizing: border-box;
}
.Summarizethedata_Summarizethedata .othernavigationhorizontaldektop {
	position: absolute;
	margin-left: 0px;
	margin-right: 0px;
	top: 116px;
	width: 1440px;
	height: 88px;
}
.Summarizethedata_Summarizethedata .othernavigationhorizontaldektop .bg {
	position: absolute;
	margin-left: 0px;
	margin-right: 0px;
	width: 1440px;
	height: 88px;
	background: rgba(246,248,251,1.00);
}
.Summarizethedata_Summarizethedata .othernavigationhorizontaldektop .circle {
	visibility: hidden;
	position: absolute;
	right: 165px;
	top: 50%;
	transform: translate(0, -50%);
	width: 40px;
	height: 40px;
	border-radius: 50%;
	border: 3px solid rgba(232.00000137090683,232.00000137090683,232.00000137090683,1);
}
.Summarizethedata_Summarizethedata .othernavigationhorizontaldektop .avatarcircledman16 {
	visibility: hidden;
	position: absolute;
	right: 165px;
	top: 50%;
	transform: translate(0, -50%);
	width: 40px;
	height: 40px;
}
.Summarizethedata_Summarizethedata .othernavigationhorizontaldektop .avatarcircledman16 .circle_1 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	object-fit: cover;
	overflow: hidden;
	border-radius: 50%;
	background-size: cover;
}
.Summarizethedata_Summarizethedata .othernavigationhorizontaldektop .textfieldsearchroundeddefault {
	position: absolute;
	left: 339px;
	top: 50%;
	transform: translate(0, -50%);
	width: 350px;
	height: 40px;
}
.Summarizethedata_Summarizethedata .othernavigationhorizontaldektop .textfieldsearchroundeddefault .bg_1 {
	position: absolute;
	margin-left: 0px;
	margin-right: 0px;
	width: 350px;
	height: 40px;
	background: rgba(255,255,255,1.00);
	border-radius: 100px;
}
.Summarizethedata_Summarizethedata .othernavigationhorizontaldektop .textfieldsearchroundeddefault .Search {
	position: absolute;
	margin-left: 42px;
	margin-right: 16px;
	top: 50%;
	transform: translate(0, -50%);
	width: 292px;
	height: 16px;
	display: flex;
	align-items: center;
	color: rgba(160,164,168,1.00);
	font-family: Lato;
	font-size: 13px;
	font-weight: 400;
	line-height: 16px;
}
.Summarizethedata_Summarizethedata .othernavigationhorizontaldektop .textfieldsearchroundeddefault .iconicofontwebsearchdefault {
	position: absolute;
	left: 16px;
	top: 50%;
	transform: translate(0, -50%);
	width: 14px;
	height: 14px;
}
.Summarizethedata_Summarizethedata .othernavigationhorizontaldektop .textfieldsearchroundeddefault .iconicofontwebsearchdefault .Vector {
	position: absolute;
	left: 0px;
	top: 0.0909423828125px;
	width: 99.99912806919643%;
	height: 98.65025111607143%;
}
.Summarizethedata_Summarizethedata .othernavigationhorizontaldektop .iconicofontwebnotificationnotification {
	visibility: hidden;
	position: absolute;
	right: 231px;
	top: 50%;
	transform: translate(0, -50%);
	width: 24px;
	height: 24px;
}
.Summarizethedata_Summarizethedata .othernavigationhorizontaldektop .iconicofontwebnotificationnotification .Vector_1 {
	position: absolute;
	left: 1.51171875px;
	top: 1.49951171875px;
	width: 87.445068359375%;
	height: 87.48016357421875%;
}
.Summarizethedata_Summarizethedata .othernavigationhorizontaldektop .notification {
	visibility: hidden;
	position: absolute;
	left: 1203px;
	top: 26px;
	width: 16px;
	height: 16px;
}
.Summarizethedata_Summarizethedata .othernavigationhorizontaldektop .notification .circle_2 {
	position: absolute;
	right: 0px;
	top: 50%;
	transform: translate(0, -50%);
	width: 16px;
	height: 16px;
	background: rgba(255,103,96,1.00);
	border-radius: 50%;
	border: 2px solid rgba(246.0000005364418,248.0000004172325,251.00000023841858,1);
}
.Summarizethedata_Summarizethedata .othernavigationhorizontaldektop .notification ._9 {
	position: absolute;
	right: 2px;
	top: 50%;
	transform: translate(0, -50%);
	width: 12px;
	height: 12px;
	display: flex;
	justify-content: center;
	text-align: center;
	align-items: center;
	color: rgba(255,255,255,1.00);
	font-family: Lato;
	font-size: 10px;
	font-weight: 700;
	line-height: 12px;
}
.Summarizethedata_Summarizethedata .othernavigationhorizontaldektop .logolong {
	position: absolute;
	left: 165px;
	top: 50%;
	transform: translate(0, -50%);
	width: 142px;
	height: 30px;
}
.Summarizethedata_Summarizethedata .othernavigationhorizontaldektop .logolong .logoimage {
	visibility: hidden;
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	object-fit: cover;
	overflow: hidden;
}
.Summarizethedata_Summarizethedata .Questionnaire {
	visibility: hidden;
	position: absolute;
	left: 395px;
	top: 136px;
	width: 106.629150390625px;
	height: 34.4378662109375px;
}
.Summarizethedata_Summarizethedata .Questionnaire .Questionnaire_1 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 106.41025934567135%;
	height: 100%;
	display: flex;
	align-items: center;
	color: rgba(37,40,43,1.00);
	font-family: Roboto;
	font-size: 13px;
	font-weight: 700;
	line-height: 20px;
}
.Summarizethedata_Summarizethedata .Button {
	position: absolute;
	left: 183px;
	top: 1011px;
	width: 198px;
	height: 59px;
}
.Summarizethedata_Summarizethedata .Button .Rectangle1 {
	position: absolute;
	left: 0px;
	top: 13px;
	width: 100%;
	height: 77.96610169491525%;
	background: rgba(51,108,251,1.00);
	border-radius: 10px;
}
.Summarizethedata_Summarizethedata .Button .Continue {
	position: absolute;
	left: 51px;
	top: 28px;
	width: 47.97979797979798%;
	height: 27.11864406779661%;
	display: flex;
	justify-content: center;
	text-align: center;
	align-items: center;
	color: rgba(255,255,255,1.00);
	font-family: Roboto;
	font-size: 15px;
	font-weight: 700;
	line-height: 16px;
}
.Summarizethedata_Summarizethedata .Frame32 {
	position: absolute;
	left: 172px;
	top: 264px;
	width: 154px;
	height: 54px;
	background: rgba(242,129,129,1.00);
	border-radius: 90px;
}
.Summarizethedata_Summarizethedata .Frame32 ._3Patients {
	position: absolute;
	left: 50px;
	top: 17px;
	width: 81px;
	height: 20px;
	display: flex;
	align-items: center;
	color: rgba(37,40,43,1.00);
	font-family: Lato;
	font-size: 16px;
	font-weight: 700;
	line-height: 20px;
}
.Summarizethedata_Summarizethedata .table {
	position: absolute;
	margin-left: 172px;
	margin-right: 172px;
	top: 438px;
	width: 1096px;
	height: 222px;
}
.Summarizethedata_Summarizethedata .table .cardelementscardfilledwhite {
	position: absolute;
	margin-left: 0px;
	margin-right: 0px;
	width: 1096px;
	height: 222px;
}
.Summarizethedata_Summarizethedata .table .cardelementscardfilledwhite .cardbg {
	position: absolute;
	margin-left: 0px;
	margin-right: 0px;
	width: 1096px;
	height: 222px;
	background: rgba(255,255,255,1.00);
	border-radius: 8px;
}
.Summarizethedata_Summarizethedata .table .tableelementsgridlarge {
	position: absolute;
	margin-left: 0px;
	margin-right: 15px;
	top: 0px;
	width: 1081px;
	height: 222px;
}
.Summarizethedata_Summarizethedata .table .tableelementsgridlarge .rows {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 1009.009009009009%;
}
.Summarizethedata_Summarizethedata .table .tableelementsgridlarge .rows .tableelementsrowdefaultheaderrounded {
	position: absolute;
	margin-left: 0px;
	margin-right: 0px;
	top: 0px;
	width: 1081px;
	height: 56px;
}
.Summarizethedata_Summarizethedata .table .tableelementsgridlarge .rows .tableelementsrowdefaultheaderrounded .row {
	position: absolute;
	margin-left: 0px;
	margin-right: 0px;
	width: 1081px;
	height: 56px;
}
.Summarizethedata_Summarizethedata .table .tableelementsgridlarge .rows .tableelementsrowdefault {
	position: absolute;
	margin-left: 0px;
	margin-right: 0px;
	top: 56px;
	width: 1081px;
	height: 56px;
}
.Summarizethedata_Summarizethedata .table .tableelementsgridlarge .rows .tableelementsrowdefault .row_1 {
	position: absolute;
	margin-left: 0px;
	margin-right: 0px;
	width: 1081px;
	height: 56px;
	background: rgba(255,255,255,1.00);
}
.Summarizethedata_Summarizethedata .table .tableelementsgridlarge .rows .tableelementsrowdefault_1 {
	position: absolute;
	margin-left: 0px;
	margin-right: 0px;
	top: 112px;
	width: 1081px;
	height: 56px;
}
.Summarizethedata_Summarizethedata .table .tableelementsgridlarge .rows .tableelementsrowdefault_1 .row_2 {
	position: absolute;
	margin-left: 0px;
	margin-right: 0px;
	width: 1081px;
	height: 56px;
	background: rgba(255,255,255,1.00);
}
.Summarizethedata_Summarizethedata .table .tableelementsgridlarge .rows .tableelementsrowdefault_2 {
	position: absolute;
	margin-left: 0px;
	margin-right: 0px;
	top: 168px;
	width: 1081px;
	height: 56px;
}
.Summarizethedata_Summarizethedata .table .tableelementsgridlarge .rows .tableelementsrowdefault_2 .row_3 {
	position: absolute;
	margin-left: 0px;
	margin-right: 0px;
	width: 1081px;
	height: 56px;
	background: rgba(255,255,255,1.00);
}
.Summarizethedata_Summarizethedata .table .tableelementsgridlarge .rows .tableelementsrowdefault_3 {
	position: absolute;
	margin-left: 0px;
	margin-right: 0px;
	top: 224px;
	width: 1081px;
	height: 56px;
}
.Summarizethedata_Summarizethedata .table .tableelementsgridlarge .rows .tableelementsrowdefault_3 .row_4 {
	position: absolute;
	margin-left: 0px;
	margin-right: 0px;
	width: 1081px;
	height: 56px;
	background: rgba(255,255,255,1.00);
}
.Summarizethedata_Summarizethedata .table .tableelementsgridlarge .rows .tableelementsrowdefault_4 {
	position: absolute;
	margin-left: 0px;
	margin-right: 0px;
	top: 280px;
	width: 1081px;
	height: 56px;
}
.Summarizethedata_Summarizethedata .table .tableelementsgridlarge .rows .tableelementsrowdefault_4 .row_5 {
	position: absolute;
	margin-left: 0px;
	margin-right: 0px;
	width: 1081px;
	height: 56px;
	background: rgba(255,255,255,1.00);
}
.Summarizethedata_Summarizethedata .table .tableelementsgridlarge .rows .tableelementsrowdefault_5 {
	position: absolute;
	margin-left: 0px;
	margin-right: 0px;
	top: 336px;
	width: 1081px;
	height: 56px;
}
.Summarizethedata_Summarizethedata .table .tableelementsgridlarge .rows .tableelementsrowdefault_5 .row_6 {
	position: absolute;
	margin-left: 0px;
	margin-right: 0px;
	width: 1081px;
	height: 56px;
	background: rgba(255,255,255,1.00);
}
.Summarizethedata_Summarizethedata .table .tableelementsgridlarge .rows .tableelementsrowdefault_6 {
	position: absolute;
	margin-left: 0px;
	margin-right: 0px;
	top: 392px;
	width: 1081px;
	height: 56px;
}
.Summarizethedata_Summarizethedata .table .tableelementsgridlarge .rows .tableelementsrowdefault_6 .row_7 {
	position: absolute;
	margin-left: 0px;
	margin-right: 0px;
	width: 1081px;
	height: 56px;
	background: rgba(255,255,255,1.00);
}
.Summarizethedata_Summarizethedata .table .tableelementsgridlarge .rows .tableelementsrowdefault_7 {
	position: absolute;
	margin-left: 0px;
	margin-right: 0px;
	top: 448px;
	width: 1081px;
	height: 56px;
}
.Summarizethedata_Summarizethedata .table .tableelementsgridlarge .rows .tableelementsrowdefault_7 .row_8 {
	position: absolute;
	margin-left: 0px;
	margin-right: 0px;
	width: 1081px;
	height: 56px;
	background: rgba(255,255,255,1.00);
}
.Summarizethedata_Summarizethedata .table .tableelementsgridlarge .rows .tableelementsrowdefault_8 {
	position: absolute;
	margin-left: 0px;
	margin-right: 0px;
	top: 504px;
	width: 1081px;
	height: 56px;
}
.Summarizethedata_Summarizethedata .table .tableelementsgridlarge .rows .tableelementsrowdefault_8 .row_9 {
	position: absolute;
	margin-left: 0px;
	margin-right: 0px;
	width: 1081px;
	height: 56px;
	background: rgba(255,255,255,1.00);
}
.Summarizethedata_Summarizethedata .table .tableelementsgridlarge .rows .tableelementsrowdefault_9 {
	position: absolute;
	margin-left: 0px;
	margin-right: 0px;
	top: 560px;
	width: 1081px;
	height: 56px;
}
.Summarizethedata_Summarizethedata .table .tableelementsgridlarge .rows .tableelementsrowdefault_9 .row_10 {
	position: absolute;
	margin-left: 0px;
	margin-right: 0px;
	width: 1081px;
	height: 56px;
	background: rgba(255,255,255,1.00);
}
.Summarizethedata_Summarizethedata .table .tableelementsgridlarge .rows .tableelementsrowdefault_10 {
	position: absolute;
	margin-left: 0px;
	margin-right: 0px;
	top: 616px;
	width: 1081px;
	height: 56px;
}
.Summarizethedata_Summarizethedata .table .tableelementsgridlarge .rows .tableelementsrowdefault_10 .row_11 {
	position: absolute;
	margin-left: 0px;
	margin-right: 0px;
	width: 1081px;
	height: 56px;
	background: rgba(255,255,255,1.00);
}
.Summarizethedata_Summarizethedata .table .tableelementsgridlarge .rows .tableelementsrowdefault_11 {
	position: absolute;
	margin-left: 0px;
	margin-right: 0px;
	top: 672px;
	width: 1081px;
	height: 56px;
}
.Summarizethedata_Summarizethedata .table .tableelementsgridlarge .rows .tableelementsrowdefault_11 .row_12 {
	position: absolute;
	margin-left: 0px;
	margin-right: 0px;
	width: 1081px;
	height: 56px;
	background: rgba(255,255,255,1.00);
}
.Summarizethedata_Summarizethedata .table .tableelementsgridlarge .rows .tableelementsrowdefault_12 {
	position: absolute;
	margin-left: 0px;
	margin-right: 0px;
	top: 728px;
	width: 1081px;
	height: 56px;
}
.Summarizethedata_Summarizethedata .table .tableelementsgridlarge .rows .tableelementsrowdefault_12 .row_13 {
	position: absolute;
	margin-left: 0px;
	margin-right: 0px;
	width: 1081px;
	height: 56px;
	background: rgba(255,255,255,1.00);
}
.Summarizethedata_Summarizethedata .table .tableelementsgridlarge .rows .tableelementsrowdefault_13 {
	position: absolute;
	margin-left: 0px;
	margin-right: 0px;
	top: 784px;
	width: 1081px;
	height: 56px;
}
.Summarizethedata_Summarizethedata .table .tableelementsgridlarge .rows .tableelementsrowdefault_13 .row_14 {
	position: absolute;
	margin-left: 0px;
	margin-right: 0px;
	width: 1081px;
	height: 56px;
	background: rgba(255,255,255,1.00);
}
.Summarizethedata_Summarizethedata .table .tableelementsgridlarge .rows .tableelementsrowdefault_14 {
	position: absolute;
	margin-left: 0px;
	margin-right: 0px;
	top: 840px;
	width: 1081px;
	height: 56px;
}
.Summarizethedata_Summarizethedata .table .tableelementsgridlarge .rows .tableelementsrowdefault_14 .row_15 {
	position: absolute;
	margin-left: 0px;
	margin-right: 0px;
	width: 1081px;
	height: 56px;
	background: rgba(255,255,255,1.00);
}
.Summarizethedata_Summarizethedata .table .tableelementsgridlarge .rows .tableelementsrowdefault_15 {
	position: absolute;
	margin-left: 0px;
	margin-right: 0px;
	top: 896px;
	width: 1081px;
	height: 56px;
}
.Summarizethedata_Summarizethedata .table .tableelementsgridlarge .rows .tableelementsrowdefault_15 .row_16 {
	position: absolute;
	margin-left: 0px;
	margin-right: 0px;
	width: 1081px;
	height: 56px;
	background: rgba(255,255,255,1.00);
}
.Summarizethedata_Summarizethedata .table .tableelementsgridlarge .rows .tableelementsrowdefault_16 {
	position: absolute;
	margin-left: 0px;
	margin-right: 0px;
	top: 952px;
	width: 1081px;
	height: 56px;
}
.Summarizethedata_Summarizethedata .table .tableelementsgridlarge .rows .tableelementsrowdefault_16 .row_17 {
	position: absolute;
	margin-left: 0px;
	margin-right: 0px;
	width: 1081px;
	height: 56px;
	background: rgba(255,255,255,1.00);
}
.Summarizethedata_Summarizethedata .table .tableelementsgridlarge .rows .tableelementsrowdefault_17 {
	position: absolute;
	margin-left: 0px;
	margin-right: 0px;
	top: 1008px;
	width: 1081px;
	height: 56px;
}
.Summarizethedata_Summarizethedata .table .tableelementsgridlarge .rows .tableelementsrowdefault_17 .row_18 {
	position: absolute;
	margin-left: 0px;
	margin-right: 0px;
	width: 1081px;
	height: 56px;
	background: rgba(255,255,255,1.00);
}
.Summarizethedata_Summarizethedata .table .tableelementsgridlarge .rows .tableelementsrowdefault_18 {
	position: absolute;
	margin-left: 0px;
	margin-right: 0px;
	top: 1064px;
	width: 1081px;
	height: 56px;
}
.Summarizethedata_Summarizethedata .table .tableelementsgridlarge .rows .tableelementsrowdefault_18 .row_19 {
	position: absolute;
	margin-left: 0px;
	margin-right: 0px;
	width: 1081px;
	height: 56px;
	background: rgba(255,255,255,1.00);
}
.Summarizethedata_Summarizethedata .table .tableelementsgridlarge .rows .tableelementsrowdefault_19 {
	position: absolute;
	margin-left: 0px;
	margin-right: 0px;
	top: 1120px;
	width: 1081px;
	height: 56px;
}
.Summarizethedata_Summarizethedata .table .tableelementsgridlarge .rows .tableelementsrowdefault_19 .row_20 {
	position: absolute;
	margin-left: 0px;
	margin-right: 0px;
	width: 1081px;
	height: 56px;
	background: rgba(255,255,255,1.00);
}
.Summarizethedata_Summarizethedata .table .tableelementsgridlarge .rows .tableelementsrowdefault_20 {
	position: absolute;
	margin-left: 0px;
	margin-right: 0px;
	top: 1176px;
	width: 1081px;
	height: 56px;
}
.Summarizethedata_Summarizethedata .table .tableelementsgridlarge .rows .tableelementsrowdefault_20 .row_21 {
	position: absolute;
	margin-left: 0px;
	margin-right: 0px;
	width: 1081px;
	height: 56px;
	background: rgba(255,255,255,1.00);
}
.Summarizethedata_Summarizethedata .table .tableelementsgridlarge .rows .tableelementsrowdefault_21 {
	position: absolute;
	margin-left: 0px;
	margin-right: 0px;
	top: 1232px;
	width: 1081px;
	height: 56px;
}
.Summarizethedata_Summarizethedata .table .tableelementsgridlarge .rows .tableelementsrowdefault_21 .row_22 {
	position: absolute;
	margin-left: 0px;
	margin-right: 0px;
	width: 1081px;
	height: 56px;
	background: rgba(255,255,255,1.00);
}
.Summarizethedata_Summarizethedata .table .tableelementsgridlarge .rows .tableelementsrowdefault_22 {
	position: absolute;
	margin-left: 0px;
	margin-right: 0px;
	top: 1288px;
	width: 1081px;
	height: 56px;
}
.Summarizethedata_Summarizethedata .table .tableelementsgridlarge .rows .tableelementsrowdefault_22 .row_23 {
	position: absolute;
	margin-left: 0px;
	margin-right: 0px;
	width: 1081px;
	height: 56px;
	background: rgba(255,255,255,1.00);
}
.Summarizethedata_Summarizethedata .table .tableelementsgridlarge .rows .tableelementsrowdefault_23 {
	position: absolute;
	margin-left: 0px;
	margin-right: 0px;
	top: 1344px;
	width: 1081px;
	height: 56px;
}
.Summarizethedata_Summarizethedata .table .tableelementsgridlarge .rows .tableelementsrowdefault_23 .row_24 {
	position: absolute;
	margin-left: 0px;
	margin-right: 0px;
	width: 1081px;
	height: 56px;
	background: rgba(255,255,255,1.00);
}
.Summarizethedata_Summarizethedata .table .tableelementsgridlarge .rows .tableelementsrowdefault_24 {
	position: absolute;
	margin-left: 0px;
	margin-right: 0px;
	top: 1400px;
	width: 1081px;
	height: 56px;
}
.Summarizethedata_Summarizethedata .table .tableelementsgridlarge .rows .tableelementsrowdefault_24 .row_25 {
	position: absolute;
	margin-left: 0px;
	margin-right: 0px;
	width: 1081px;
	height: 56px;
	background: rgba(255,255,255,1.00);
}
.Summarizethedata_Summarizethedata .table .tableelementsgridlarge .rows .tableelementsrowdefault_25 {
	position: absolute;
	margin-left: 0px;
	margin-right: 0px;
	top: 1456px;
	width: 1081px;
	height: 56px;
}
.Summarizethedata_Summarizethedata .table .tableelementsgridlarge .rows .tableelementsrowdefault_25 .row_26 {
	position: absolute;
	margin-left: 0px;
	margin-right: 0px;
	width: 1081px;
	height: 56px;
	background: rgba(255,255,255,1.00);
}
.Summarizethedata_Summarizethedata .table .tableelementsgridlarge .rows .tableelementsrowdefault_26 {
	position: absolute;
	margin-left: 0px;
	margin-right: 0px;
	top: 1512px;
	width: 1081px;
	height: 56px;
}
.Summarizethedata_Summarizethedata .table .tableelementsgridlarge .rows .tableelementsrowdefault_26 .row_27 {
	position: absolute;
	margin-left: 0px;
	margin-right: 0px;
	width: 1081px;
	height: 56px;
	background: rgba(255,255,255,1.00);
}
.Summarizethedata_Summarizethedata .table .tableelementsgridlarge .rows .tableelementsrowdefault_27 {
	position: absolute;
	margin-left: 0px;
	margin-right: 0px;
	top: 1568px;
	width: 1081px;
	height: 56px;
}
.Summarizethedata_Summarizethedata .table .tableelementsgridlarge .rows .tableelementsrowdefault_27 .row_28 {
	position: absolute;
	margin-left: 0px;
	margin-right: 0px;
	width: 1081px;
	height: 56px;
	background: rgba(255,255,255,1.00);
}
.Summarizethedata_Summarizethedata .table .tableelementsgridlarge .rows .tableelementsrowdefault_28 {
	position: absolute;
	margin-left: 0px;
	margin-right: 0px;
	top: 1624px;
	width: 1081px;
	height: 56px;
}
.Summarizethedata_Summarizethedata .table .tableelementsgridlarge .rows .tableelementsrowdefault_28 .row_29 {
	position: absolute;
	margin-left: 0px;
	margin-right: 0px;
	width: 1081px;
	height: 56px;
	background: rgba(255,255,255,1.00);
}
.Summarizethedata_Summarizethedata .table .tableelementsgridlarge .rows .tableelementsrowdefault_29 {
	position: absolute;
	margin-left: 0px;
	margin-right: 0px;
	top: 1680px;
	width: 1081px;
	height: 56px;
}
.Summarizethedata_Summarizethedata .table .tableelementsgridlarge .rows .tableelementsrowdefault_29 .row_30 {
	position: absolute;
	margin-left: 0px;
	margin-right: 0px;
	width: 1081px;
	height: 56px;
	background: rgba(255,255,255,1.00);
}
.Summarizethedata_Summarizethedata .table .tableelementsgridlarge .rows .tableelementsrowdefault_30 {
	position: absolute;
	margin-left: 0px;
	margin-right: 0px;
	top: 1736px;
	width: 1081px;
	height: 56px;
}
.Summarizethedata_Summarizethedata .table .tableelementsgridlarge .rows .tableelementsrowdefault_30 .row_31 {
	position: absolute;
	margin-left: 0px;
	margin-right: 0px;
	width: 1081px;
	height: 56px;
	background: rgba(255,255,255,1.00);
}
.Summarizethedata_Summarizethedata .table .tableelementsgridlarge .rows .tableelementsrowdefault_31 {
	position: absolute;
	margin-left: 0px;
	margin-right: 0px;
	top: 1792px;
	width: 1081px;
	height: 56px;
}
.Summarizethedata_Summarizethedata .table .tableelementsgridlarge .rows .tableelementsrowdefault_31 .row_32 {
	position: absolute;
	margin-left: 0px;
	margin-right: 0px;
	width: 1081px;
	height: 56px;
	background: rgba(255,255,255,1.00);
}
.Summarizethedata_Summarizethedata .table .tableelementsgridlarge .rows .tableelementsrowdefault_32 {
	position: absolute;
	margin-left: 0px;
	margin-right: 0px;
	top: 1848px;
	width: 1081px;
	height: 56px;
}
.Summarizethedata_Summarizethedata .table .tableelementsgridlarge .rows .tableelementsrowdefault_32 .row_33 {
	position: absolute;
	margin-left: 0px;
	margin-right: 0px;
	width: 1081px;
	height: 56px;
	background: rgba(255,255,255,1.00);
}
.Summarizethedata_Summarizethedata .table .tableelementsgridlarge .rows .tableelementsrowdefault_33 {
	position: absolute;
	margin-left: 0px;
	margin-right: 0px;
	top: 1904px;
	width: 1081px;
	height: 56px;
}
.Summarizethedata_Summarizethedata .table .tableelementsgridlarge .rows .tableelementsrowdefault_33 .row_34 {
	position: absolute;
	margin-left: 0px;
	margin-right: 0px;
	width: 1081px;
	height: 56px;
	background: rgba(255,255,255,1.00);
}
.Summarizethedata_Summarizethedata .table .tableelementsgridlarge .rows .tableelementsrowdefault_34 {
	position: absolute;
	margin-left: 0px;
	margin-right: 0px;
	top: 1960px;
	width: 1081px;
	height: 56px;
}
.Summarizethedata_Summarizethedata .table .tableelementsgridlarge .rows .tableelementsrowdefault_34 .row_35 {
	position: absolute;
	margin-left: 0px;
	margin-right: 0px;
	width: 1081px;
	height: 56px;
	background: rgba(255,255,255,1.00);
}
.Summarizethedata_Summarizethedata .table .tableelementsgridlarge .rows .tableelementsrowdefault_35 {
	position: absolute;
	margin-left: 0px;
	margin-right: 0px;
	top: 2016px;
	width: 1081px;
	height: 56px;
}
.Summarizethedata_Summarizethedata .table .tableelementsgridlarge .rows .tableelementsrowdefault_35 .row_36 {
	position: absolute;
	margin-left: 0px;
	margin-right: 0px;
	width: 1081px;
	height: 56px;
	background: rgba(255,255,255,1.00);
}
.Summarizethedata_Summarizethedata .table .tableelementsgridlarge .rows .tableelementsrowdefault_36 {
	position: absolute;
	margin-left: 0px;
	margin-right: 0px;
	top: 2072px;
	width: 1081px;
	height: 56px;
}
.Summarizethedata_Summarizethedata .table .tableelementsgridlarge .rows .tableelementsrowdefault_36 .row_37 {
	position: absolute;
	margin-left: 0px;
	margin-right: 0px;
	width: 1081px;
	height: 56px;
	background: rgba(255,255,255,1.00);
}
.Summarizethedata_Summarizethedata .table .tableelementsgridlarge .rows .tableelementsrowdefault_37 {
	position: absolute;
	margin-left: 0px;
	margin-right: 0px;
	top: 2128px;
	width: 1081px;
	height: 56px;
}
.Summarizethedata_Summarizethedata .table .tableelementsgridlarge .rows .tableelementsrowdefault_37 .row_38 {
	position: absolute;
	margin-left: 0px;
	margin-right: 0px;
	width: 1081px;
	height: 56px;
	background: rgba(255,255,255,1.00);
}
.Summarizethedata_Summarizethedata .table .tableelementsgridlarge .rows .tableelementsrowdefault_38 {
	position: absolute;
	margin-left: 0px;
	margin-right: 0px;
	top: 2184px;
	width: 1081px;
	height: 56px;
}
.Summarizethedata_Summarizethedata .table .tableelementsgridlarge .rows .tableelementsrowdefault_38 .row_39 {
	position: absolute;
	margin-left: 0px;
	margin-right: 0px;
	width: 1081px;
	height: 56px;
	background: rgba(255,255,255,1.00);
}
.Summarizethedata_Summarizethedata .table .tableelementsgridlarge .dividers {
	position: absolute;
	left: 0px;
	top: 56px;
	width: 100%;
	height: 983.7837837837839%;
}
.Summarizethedata_Summarizethedata .table .tableelementsgridlarge .dividers .divider {
	position: absolute;
	margin-left: 0px;
	margin-right: 0px;
	top: 0px;
	width: 1081px;
	height: 0px;
}
.Summarizethedata_Summarizethedata .table .tableelementsgridlarge .dividers .divider_1 {
	position: absolute;
	margin-left: 0px;
	margin-right: 0px;
	top: 56px;
	width: 1081px;
	height: 0px;
}
.Summarizethedata_Summarizethedata .table .tableelementsgridlarge .dividers .divider_2 {
	position: absolute;
	margin-left: 0px;
	margin-right: 0px;
	top: 112px;
	width: 1081px;
	height: 0px;
}
.Summarizethedata_Summarizethedata .table .tableelementsgridlarge .dividers .divider_3 {
	position: absolute;
	margin-left: 0px;
	margin-right: 0px;
	top: 168px;
	width: 1081px;
	height: 0px;
}
.Summarizethedata_Summarizethedata .table .tableelementsgridlarge .dividers .divider_4 {
	position: absolute;
	margin-left: 0px;
	margin-right: 0px;
	top: 224px;
	width: 1081px;
	height: 0px;
}
.Summarizethedata_Summarizethedata .table .tableelementsgridlarge .dividers .divider_5 {
	position: absolute;
	margin-left: 0px;
	margin-right: 0px;
	top: 280px;
	width: 1081px;
	height: 0px;
}
.Summarizethedata_Summarizethedata .table .tableelementsgridlarge .dividers .divider_6 {
	position: absolute;
	margin-left: 0px;
	margin-right: 0px;
	top: 336px;
	width: 1081px;
	height: 0px;
}
.Summarizethedata_Summarizethedata .table .tableelementsgridlarge .dividers .divider_7 {
	position: absolute;
	margin-left: 0px;
	margin-right: 0px;
	top: 392px;
	width: 1081px;
	height: 0px;
}
.Summarizethedata_Summarizethedata .table .tableelementsgridlarge .dividers .divider_8 {
	position: absolute;
	margin-left: 0px;
	margin-right: 0px;
	top: 448px;
	width: 1081px;
	height: 0px;
}
.Summarizethedata_Summarizethedata .table .tableelementsgridlarge .dividers .divider_9 {
	position: absolute;
	margin-left: 0px;
	margin-right: 0px;
	top: 504px;
	width: 1081px;
	height: 0px;
}
.Summarizethedata_Summarizethedata .table .tableelementsgridlarge .dividers .divider_10 {
	position: absolute;
	margin-left: 0px;
	margin-right: 0px;
	top: 560px;
	width: 1081px;
	height: 0px;
}
.Summarizethedata_Summarizethedata .table .tableelementsgridlarge .dividers .divider_11 {
	position: absolute;
	margin-left: 0px;
	margin-right: 0px;
	top: 616px;
	width: 1081px;
	height: 0px;
}
.Summarizethedata_Summarizethedata .table .tableelementsgridlarge .dividers .divider_12 {
	position: absolute;
	margin-left: 0px;
	margin-right: 0px;
	top: 672px;
	width: 1081px;
	height: 0px;
}
.Summarizethedata_Summarizethedata .table .tableelementsgridlarge .dividers .divider_13 {
	position: absolute;
	margin-left: 0px;
	margin-right: 0px;
	top: 728px;
	width: 1081px;
	height: 0px;
}
.Summarizethedata_Summarizethedata .table .tableelementsgridlarge .dividers .divider_14 {
	position: absolute;
	margin-left: 0px;
	margin-right: 0px;
	top: 784px;
	width: 1081px;
	height: 0px;
}
.Summarizethedata_Summarizethedata .table .tableelementsgridlarge .dividers .divider_15 {
	position: absolute;
	margin-left: 0px;
	margin-right: 0px;
	top: 840px;
	width: 1081px;
	height: 0px;
}
.Summarizethedata_Summarizethedata .table .tableelementsgridlarge .dividers .divider_16 {
	position: absolute;
	margin-left: 0px;
	margin-right: 0px;
	top: 896px;
	width: 1081px;
	height: 0px;
}
.Summarizethedata_Summarizethedata .table .tableelementsgridlarge .dividers .divider_17 {
	position: absolute;
	margin-left: 0px;
	margin-right: 0px;
	top: 952px;
	width: 1081px;
	height: 0px;
}
.Summarizethedata_Summarizethedata .table .tableelementsgridlarge .dividers .divider_18 {
	position: absolute;
	margin-left: 0px;
	margin-right: 0px;
	top: 1008px;
	width: 1081px;
	height: 0px;
}
.Summarizethedata_Summarizethedata .table .tableelementsgridlarge .dividers .divider_19 {
	position: absolute;
	margin-left: 0px;
	margin-right: 0px;
	top: 1064px;
	width: 1081px;
	height: 0px;
}
.Summarizethedata_Summarizethedata .table .tableelementsgridlarge .dividers .divider_20 {
	position: absolute;
	margin-left: 0px;
	margin-right: 0px;
	top: 1120px;
	width: 1081px;
	height: 0px;
}
.Summarizethedata_Summarizethedata .table .tableelementsgridlarge .dividers .divider_21 {
	position: absolute;
	margin-left: 0px;
	margin-right: 0px;
	top: 1176px;
	width: 1081px;
	height: 0px;
}
.Summarizethedata_Summarizethedata .table .tableelementsgridlarge .dividers .divider_22 {
	position: absolute;
	margin-left: 0px;
	margin-right: 0px;
	top: 1232px;
	width: 1081px;
	height: 0px;
}
.Summarizethedata_Summarizethedata .table .tableelementsgridlarge .dividers .divider_23 {
	position: absolute;
	margin-left: 0px;
	margin-right: 0px;
	top: 1288px;
	width: 1081px;
	height: 0px;
}
.Summarizethedata_Summarizethedata .table .tableelementsgridlarge .dividers .divider_24 {
	position: absolute;
	margin-left: 0px;
	margin-right: 0px;
	top: 1344px;
	width: 1081px;
	height: 0px;
}
.Summarizethedata_Summarizethedata .table .tableelementsgridlarge .dividers .divider_25 {
	position: absolute;
	margin-left: 0px;
	margin-right: 0px;
	top: 1400px;
	width: 1081px;
	height: 0px;
}
.Summarizethedata_Summarizethedata .table .tableelementsgridlarge .dividers .divider_26 {
	position: absolute;
	margin-left: 0px;
	margin-right: 0px;
	top: 1456px;
	width: 1081px;
	height: 0px;
}
.Summarizethedata_Summarizethedata .table .tableelementsgridlarge .dividers .divider_27 {
	position: absolute;
	margin-left: 0px;
	margin-right: 0px;
	top: 1512px;
	width: 1081px;
	height: 0px;
}
.Summarizethedata_Summarizethedata .table .tableelementsgridlarge .dividers .divider_28 {
	position: absolute;
	margin-left: 0px;
	margin-right: 0px;
	top: 1568px;
	width: 1081px;
	height: 0px;
}
.Summarizethedata_Summarizethedata .table .tableelementsgridlarge .dividers .divider_29 {
	position: absolute;
	margin-left: 0px;
	margin-right: 0px;
	top: 1624px;
	width: 1081px;
	height: 0px;
}
.Summarizethedata_Summarizethedata .table .tableelementsgridlarge .dividers .divider_30 {
	position: absolute;
	margin-left: 0px;
	margin-right: 0px;
	top: 1680px;
	width: 1081px;
	height: 0px;
}
.Summarizethedata_Summarizethedata .table .tableelementsgridlarge .dividers .divider_31 {
	position: absolute;
	margin-left: 0px;
	margin-right: 0px;
	top: 1736px;
	width: 1081px;
	height: 0px;
}
.Summarizethedata_Summarizethedata .table .tableelementsgridlarge .dividers .divider_32 {
	position: absolute;
	margin-left: 0px;
	margin-right: 0px;
	top: 1792px;
	width: 1081px;
	height: 0px;
}
.Summarizethedata_Summarizethedata .table .tableelementsgridlarge .dividers .divider_33 {
	position: absolute;
	margin-left: 0px;
	margin-right: 0px;
	top: 1848px;
	width: 1081px;
	height: 0px;
}
.Summarizethedata_Summarizethedata .table .tableelementsgridlarge .dividers .divider_34 {
	position: absolute;
	margin-left: 0px;
	margin-right: 0px;
	top: 1904px;
	width: 1081px;
	height: 0px;
}
.Summarizethedata_Summarizethedata .table .tableelementsgridlarge .dividers .divider_35 {
	position: absolute;
	margin-left: 0px;
	margin-right: 0px;
	top: 1960px;
	width: 1081px;
	height: 0px;
}
.Summarizethedata_Summarizethedata .table .tableelementsgridlarge .dividers .divider_36 {
	position: absolute;
	margin-left: 0px;
	margin-right: 0px;
	top: 2016px;
	width: 1081px;
	height: 0px;
}
.Summarizethedata_Summarizethedata .table .tableelementsgridlarge .dividers .divider_37 {
	position: absolute;
	margin-left: 0px;
	margin-right: 0px;
	top: 2072px;
	width: 1081px;
	height: 0px;
}
.Summarizethedata_Summarizethedata .table .tableelementsgridlarge .dividers .divider_38 {
	position: absolute;
	margin-left: 0px;
	margin-right: 0px;
	top: 2128px;
	width: 1081px;
	height: 0px;
}
.Summarizethedata_Summarizethedata .table .tableelementsgridlarge .dividers .divider_39 {
	position: absolute;
	margin-left: 0px;
	margin-right: 0px;
	top: 2184px;
	width: 1081px;
	height: 0px;
}
.Summarizethedata_Summarizethedata .table .IconArrowDropDownFill {
	position: absolute;
	left: 282px;
	top: 75px;
	width: 2.18978102189781%;
	height: 5.9553816511824325%;
}
.Summarizethedata_Summarizethedata .table .IconArrowDropDownFill .Arrowdropdown {
	visibility: hidden;
	position: absolute;
	left: 7px;
	top: 5.5087890625px;
	width: 41.66666666666667%;
	height: 20.83356416080365%;
}
.Summarizethedata_Summarizethedata .table .IconArrowDropDownFill_1 {
	position: absolute;
	left: 467px;
	top: 76px;
	width: 2.18978102189781%;
	height: 5.9553816511824325%;
}
.Summarizethedata_Summarizethedata .table .IconArrowDropDownFill_1 .Arrowdropdown_1 {
	visibility: hidden;
	position: absolute;
	left: 7px;
	top: 5.5087890625px;
	width: 41.66666666666667%;
	height: 20.83356416080365%;
}
.Summarizethedata_Summarizethedata .table .IconArrowDropDownFill_2 {
	position: absolute;
	left: 282px;
	top: 133px;
	width: 2.18978102189781%;
	height: 5.9553816511824325%;
}
.Summarizethedata_Summarizethedata .table .IconArrowDropDownFill_2 .Arrowdropdown_2 {
	visibility: hidden;
	position: absolute;
	left: 7px;
	top: 5.5087890625px;
	width: 41.66666666666667%;
	height: 20.83356416080365%;
}
.Summarizethedata_Summarizethedata .table .IconArrowDropDownFill_3 {
	position: absolute;
	left: 282px;
	top: 184px;
	width: 2.18978102189781%;
	height: 5.9553816511824325%;
}
.Summarizethedata_Summarizethedata .table .IconArrowDropDownFill_3 .Arrowdropdown_3 {
	visibility: hidden;
	position: absolute;
	left: 7px;
	top: 5.5087890625px;
	width: 41.66666666666667%;
	height: 20.83356416080365%;
}
.Summarizethedata_Summarizethedata .table .tableelementscolumnslargetextualdefault {
	position: absolute;
	left: 11px;
	top: 1px;
	width: 108px;
	height: 237px;
}
.Summarizethedata_Summarizethedata .table .tableelementscolumnslargetextualdefault .Title {
	visibility: hidden;
	position: absolute;
	margin-left: 0px;
	margin-right: 0px;
	top: 19px;
	width: 108px;
	height: 20px;
	color: rgba(37,40,43,1.00);
	font-family: Lato;
	font-size: 14px;
	font-weight: 700;
	line-height: 20px;
}
.Summarizethedata_Summarizethedata .table .tableelementscolumnslargetextualdefault .column {
	position: absolute;
	left: 0px;
	top: 74px;
	width: 108px;
	height: 2148px;
}
.Summarizethedata_Summarizethedata .table .tableelementscolumnslargetextualdefault .column .column01 {
	position: absolute;
	margin-left: 0px;
	margin-right: 0px;
	top: 0px;
	width: 108px;
	height: 20px;
	color: rgba(82,87,92,1.00);
	font-family: Lato;
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
}
.Summarizethedata_Summarizethedata .table .tableelementscolumnslargetextualdefault .column .column02 {
	position: absolute;
	margin-left: 0px;
	margin-right: 0px;
	top: 56px;
	width: 108px;
	height: 20px;
	color: rgba(82,87,92,1.00);
	font-family: Lato;
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
}
.Summarizethedata_Summarizethedata .table .tableelementscolumnslargetextualdefault .column .column03 {
	position: absolute;
	margin-left: 0px;
	margin-right: 0px;
	top: 112px;
	width: 108px;
	height: 20px;
	color: rgba(82,87,92,1.00);
	font-family: Lato;
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
}
.Summarizethedata_Summarizethedata .table .tableelementscolumnslargetextualdefault .column .column04 {
	position: absolute;
	margin-left: 0px;
	margin-right: 0px;
	top: 168px;
	width: 108px;
	height: 20px;
	color: rgba(82,87,92,1.00);
	font-family: Lato;
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
}
.Summarizethedata_Summarizethedata .table .tableelementscolumnslargetextualdefault .column .column05 {
	position: absolute;
	margin-left: 0px;
	margin-right: 0px;
	top: 224px;
	width: 108px;
	height: 20px;
	color: rgba(82,87,92,1.00);
	font-family: Lato;
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
}
.Summarizethedata_Summarizethedata .table .tableelementscolumnslargetextualdefault .column .column06 {
	position: absolute;
	margin-left: 0px;
	margin-right: 0px;
	top: 280px;
	width: 108px;
	height: 20px;
	color: rgba(82,87,92,1.00);
	font-family: Lato;
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
}
.Summarizethedata_Summarizethedata .table .tableelementscolumnslargetextualdefault .column .column07 {
	position: absolute;
	margin-left: 0px;
	margin-right: 0px;
	top: 336px;
	width: 108px;
	height: 20px;
	color: rgba(82,87,92,1.00);
	font-family: Lato;
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
}
.Summarizethedata_Summarizethedata .table .tableelementscolumnslargetextualdefault .column .column08 {
	position: absolute;
	margin-left: 0px;
	margin-right: 0px;
	top: 392px;
	width: 108px;
	height: 20px;
	color: rgba(82,87,92,1.00);
	font-family: Lato;
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
}
.Summarizethedata_Summarizethedata .table .tableelementscolumnslargetextualdefault .column .column09 {
	position: absolute;
	margin-left: 0px;
	margin-right: 0px;
	top: 448px;
	width: 108px;
	height: 20px;
	color: rgba(82,87,92,1.00);
	font-family: Lato;
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
}
.Summarizethedata_Summarizethedata .table .tableelementscolumnslargetextualdefault .column .column10 {
	position: absolute;
	margin-left: 0px;
	margin-right: 0px;
	top: 504px;
	width: 108px;
	height: 20px;
	color: rgba(82,87,92,1.00);
	font-family: Lato;
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
}
.Summarizethedata_Summarizethedata .table .tableelementscolumnslargetextualdefault .column .column11 {
	position: absolute;
	margin-left: 0px;
	margin-right: 0px;
	top: 560px;
	width: 108px;
	height: 20px;
	color: rgba(82,87,92,1.00);
	font-family: Lato;
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
}
.Summarizethedata_Summarizethedata .table .tableelementscolumnslargetextualdefault .column .column12 {
	position: absolute;
	margin-left: 0px;
	margin-right: 0px;
	top: 616px;
	width: 108px;
	height: 20px;
	color: rgba(82,87,92,1.00);
	font-family: Lato;
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
}
.Summarizethedata_Summarizethedata .table .tableelementscolumnslargetextualdefault .column .column13 {
	position: absolute;
	margin-left: 0px;
	margin-right: 0px;
	top: 672px;
	width: 108px;
	height: 20px;
	color: rgba(82,87,92,1.00);
	font-family: Lato;
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
}
.Summarizethedata_Summarizethedata .table .tableelementscolumnslargetextualdefault .column .column14 {
	position: absolute;
	margin-left: 0px;
	margin-right: 0px;
	top: 728px;
	width: 108px;
	height: 20px;
	color: rgba(82,87,92,1.00);
	font-family: Lato;
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
}
.Summarizethedata_Summarizethedata .table .tableelementscolumnslargetextualdefault .column .column15 {
	position: absolute;
	margin-left: 0px;
	margin-right: 0px;
	top: 784px;
	width: 108px;
	height: 20px;
	color: rgba(82,87,92,1.00);
	font-family: Lato;
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
}
.Summarizethedata_Summarizethedata .table .tableelementscolumnslargetextualdefault .column .column16 {
	position: absolute;
	margin-left: 0px;
	margin-right: 0px;
	top: 840px;
	width: 108px;
	height: 20px;
	color: rgba(82,87,92,1.00);
	font-family: Lato;
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
}
.Summarizethedata_Summarizethedata .table .tableelementscolumnslargetextualdefault .column .column17 {
	position: absolute;
	margin-left: 0px;
	margin-right: 0px;
	top: 896px;
	width: 108px;
	height: 20px;
	color: rgba(82,87,92,1.00);
	font-family: Lato;
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
}
.Summarizethedata_Summarizethedata .table .tableelementscolumnslargetextualdefault .column .column18 {
	position: absolute;
	margin-left: 0px;
	margin-right: 0px;
	top: 952px;
	width: 108px;
	height: 20px;
	color: rgba(82,87,92,1.00);
	font-family: Lato;
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
}
.Summarizethedata_Summarizethedata .table .tableelementscolumnslargetextualdefault .column .column19 {
	position: absolute;
	margin-left: 0px;
	margin-right: 0px;
	top: 1008px;
	width: 108px;
	height: 20px;
	color: rgba(82,87,92,1.00);
	font-family: Lato;
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
}
.Summarizethedata_Summarizethedata .table .tableelementscolumnslargetextualdefault .column .column20 {
	position: absolute;
	margin-left: 0px;
	margin-right: 0px;
	top: 1064px;
	width: 108px;
	height: 20px;
	color: rgba(82,87,92,1.00);
	font-family: Lato;
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
}
.Summarizethedata_Summarizethedata .table .tableelementscolumnslargetextualdefault .column .column21 {
	position: absolute;
	margin-left: 0px;
	margin-right: 0px;
	top: 1120px;
	width: 108px;
	height: 20px;
	color: rgba(82,87,92,1.00);
	font-family: Lato;
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
}
.Summarizethedata_Summarizethedata .table .tableelementscolumnslargetextualdefault .column .column22 {
	position: absolute;
	margin-left: 0px;
	margin-right: 0px;
	top: 1176px;
	width: 108px;
	height: 20px;
	color: rgba(82,87,92,1.00);
	font-family: Lato;
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
}
.Summarizethedata_Summarizethedata .table .tableelementscolumnslargetextualdefault .column .column23 {
	position: absolute;
	margin-left: 0px;
	margin-right: 0px;
	top: 1232px;
	width: 108px;
	height: 20px;
	color: rgba(82,87,92,1.00);
	font-family: Lato;
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
}
.Summarizethedata_Summarizethedata .table .tableelementscolumnslargetextualdefault .column .column24 {
	position: absolute;
	margin-left: 0px;
	margin-right: 0px;
	top: 1288px;
	width: 108px;
	height: 20px;
	color: rgba(82,87,92,1.00);
	font-family: Lato;
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
}
.Summarizethedata_Summarizethedata .table .tableelementscolumnslargetextualdefault .column .column25 {
	position: absolute;
	margin-left: 0px;
	margin-right: 0px;
	top: 1344px;
	width: 108px;
	height: 20px;
	color: rgba(82,87,92,1.00);
	font-family: Lato;
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
}
.Summarizethedata_Summarizethedata .table .tableelementscolumnslargetextualdefault .column .column26 {
	position: absolute;
	margin-left: 0px;
	margin-right: 0px;
	top: 1400px;
	width: 108px;
	height: 20px;
	color: rgba(82,87,92,1.00);
	font-family: Lato;
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
}
.Summarizethedata_Summarizethedata .table .tableelementscolumnslargetextualdefault .column .column27 {
	position: absolute;
	margin-left: 0px;
	margin-right: 0px;
	top: 1456px;
	width: 108px;
	height: 20px;
	color: rgba(82,87,92,1.00);
	font-family: Lato;
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
}
.Summarizethedata_Summarizethedata .table .tableelementscolumnslargetextualdefault .column .column28 {
	position: absolute;
	margin-left: 0px;
	margin-right: 0px;
	top: 1512px;
	width: 108px;
	height: 20px;
	color: rgba(82,87,92,1.00);
	font-family: Lato;
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
}
.Summarizethedata_Summarizethedata .table .tableelementscolumnslargetextualdefault .column .column29 {
	position: absolute;
	margin-left: 0px;
	margin-right: 0px;
	top: 1568px;
	width: 108px;
	height: 20px;
	color: rgba(82,87,92,1.00);
	font-family: Lato;
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
}
.Summarizethedata_Summarizethedata .table .tableelementscolumnslargetextualdefault .column .column30 {
	position: absolute;
	margin-left: 0px;
	margin-right: 0px;
	top: 1624px;
	width: 108px;
	height: 20px;
	color: rgba(82,87,92,1.00);
	font-family: Lato;
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
}
.Summarizethedata_Summarizethedata .table .tableelementscolumnslargetextualdefault .column .column31 {
	position: absolute;
	margin-left: 0px;
	margin-right: 0px;
	top: 1680px;
	width: 108px;
	height: 20px;
	color: rgba(82,87,92,1.00);
	font-family: Lato;
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
}
.Summarizethedata_Summarizethedata .table .tableelementscolumnslargetextualdefault .column .column32 {
	position: absolute;
	margin-left: 0px;
	margin-right: 0px;
	top: 1736px;
	width: 108px;
	height: 20px;
	color: rgba(82,87,92,1.00);
	font-family: Lato;
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
}
.Summarizethedata_Summarizethedata .table .tableelementscolumnslargetextualdefault .column .column33 {
	position: absolute;
	margin-left: 0px;
	margin-right: 0px;
	top: 1792px;
	width: 108px;
	height: 20px;
	color: rgba(82,87,92,1.00);
	font-family: Lato;
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
}
.Summarizethedata_Summarizethedata .table .tableelementscolumnslargetextualdefault .column .column34 {
	position: absolute;
	margin-left: 0px;
	margin-right: 0px;
	top: 1848px;
	width: 108px;
	height: 20px;
	color: rgba(82,87,92,1.00);
	font-family: Lato;
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
}
.Summarizethedata_Summarizethedata .table .tableelementscolumnslargetextualdefault .column .column35 {
	position: absolute;
	margin-left: 0px;
	margin-right: 0px;
	top: 1904px;
	width: 108px;
	height: 20px;
	color: rgba(82,87,92,1.00);
	font-family: Lato;
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
}
.Summarizethedata_Summarizethedata .table .tableelementscolumnslargetextualdefault .column .column36 {
	position: absolute;
	margin-left: 0px;
	margin-right: 0px;
	top: 1960px;
	width: 108px;
	height: 20px;
	color: rgba(82,87,92,1.00);
	font-family: Lato;
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
}
.Summarizethedata_Summarizethedata .table .tableelementscolumnslargetextualdefault .column .column37 {
	position: absolute;
	margin-left: 0px;
	margin-right: 0px;
	top: 2016px;
	width: 108px;
	height: 20px;
	color: rgba(82,87,92,1.00);
	font-family: Lato;
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
}
.Summarizethedata_Summarizethedata .table .tableelementscolumnslargetextualdefault .column .column38 {
	position: absolute;
	margin-left: 0px;
	margin-right: 0px;
	top: 2072px;
	width: 108px;
	height: 20px;
	color: rgba(82,87,92,1.00);
	font-family: Lato;
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
}
.Summarizethedata_Summarizethedata .table .tableelementscolumnslargetextualdefault .column .column39 {
	position: absolute;
	margin-left: 0px;
	margin-right: 0px;
	top: 2128px;
	width: 108px;
	height: 20px;
	color: rgba(82,87,92,1.00);
	font-family: Lato;
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
}
.Summarizethedata_Summarizethedata .table .column01_1 {
	position: absolute;
	margin-left: 143px;
	margin-right: 759px;
	top: 75px;
	width: 194px;
	height: 20px;
	color: rgba(82,87,92,1.00);
	font-family: Lato;
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
}
.Summarizethedata_Summarizethedata .table .column6 {
	position: absolute;
	margin-left: 143px;
	margin-right: 764px;
	top: 131px;
	width: 189px;
	height: 20px;
	color: rgba(82,87,92,1.00);
	font-family: Lato;
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
}
.Summarizethedata_Summarizethedata .table .column11_1 {
	position: absolute;
	margin-left: 143px;
	margin-right: 760px;
	top: 187px;
	width: 193px;
	height: 20px;
	color: rgba(82,87,92,1.00);
	font-family: Lato;
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
}
.Summarizethedata_Summarizethedata .table .column2 {
	position: absolute;
	margin-left: 374px;
	margin-right: 685px;
	top: 75px;
	width: 37px;
	height: 20px;
	color: rgba(82,87,92,1.00);
	font-family: Lato;
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
}
.Summarizethedata_Summarizethedata .table .column7 {
	position: absolute;
	margin-left: 374px;
	margin-right: 688px;
	top: 131px;
	width: 34px;
	height: 20px;
	color: rgba(82,87,92,1.00);
	font-family: Lato;
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
}
.Summarizethedata_Summarizethedata .table .column12_1 {
	position: absolute;
	margin-left: 374px;
	margin-right: 698px;
	top: 187px;
	width: 24px;
	height: 20px;
	color: rgba(82,87,92,1.00);
	font-family: Lato;
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
}
.Summarizethedata_Summarizethedata .table .column3 {
	position: absolute;
	margin-left: 551px;
	margin-right: 437px;
	top: 75px;
	width: 108px;
	height: 20px;
	color: rgba(82,87,92,1.00);
	font-family: Lato;
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
}
.Summarizethedata_Summarizethedata .table .column8 {
	position: absolute;
	margin-left: 551px;
	margin-right: 437px;
	top: 131px;
	width: 108px;
	height: 20px;
	color: rgba(82,87,92,1.00);
	font-family: Lato;
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
}
.Summarizethedata_Summarizethedata .table .column13_1 {
	position: absolute;
	margin-left: 551px;
	margin-right: 437px;
	top: 187px;
	width: 108px;
	height: 20px;
	color: rgba(82,87,92,1.00);
	font-family: Lato;
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
}
.Summarizethedata_Summarizethedata .table .column4 {
	position: absolute;
	margin-left: 720px;
	margin-right: 268px;
	top: 75px;
	width: 108px;
	height: 20px;
	color: rgba(82,87,92,1.00);
	font-family: Lato;
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
}
.Summarizethedata_Summarizethedata .table .column9 {
	position: absolute;
	margin-left: 720px;
	margin-right: 268px;
	top: 131px;
	width: 108px;
	height: 20px;
	color: rgba(82,87,92,1.00);
	font-family: Lato;
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
}
.Summarizethedata_Summarizethedata .table .column14_1 {
	position: absolute;
	margin-left: 720px;
	margin-right: 268px;
	top: 187px;
	width: 108px;
	height: 20px;
	color: rgba(82,87,92,1.00);
	font-family: Lato;
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
}
.Summarizethedata_Summarizethedata .table .column5 {
	position: absolute;
	margin-left: 941px;
	margin-right: 46px;
	top: 75px;
	width: 109px;
	height: 20px;
	color: rgba(82,87,92,1.00);
	font-family: Lato;
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
}
.Summarizethedata_Summarizethedata .table .column10_1 {
	position: absolute;
	margin-left: 941px;
	margin-right: 46px;
	top: 131px;
	width: 109px;
	height: 20px;
	color: rgba(82,87,92,1.00);
	font-family: Lato;
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
}
.Summarizethedata_Summarizethedata .table .column15_1 {
	position: absolute;
	margin-left: 941px;
	margin-right: 46px;
	top: 187px;
	width: 109px;
	height: 20px;
	color: rgba(82,87,92,1.00);
	font-family: Lato;
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
}
.Summarizethedata_Summarizethedata .table .Name {
	position: absolute;
	left: 24px;
	top: 18px;
	width: 38px;
	height: 20px;
	display: flex;
	align-items: center;
	color: rgba(37,40,43,1.00);
	font-family: Lato;
	font-size: 14px;
	font-weight: 700;
	line-height: 20px;
}
.Summarizethedata_Summarizethedata .table .Id {
	position: absolute;
	left: 209px;
	top: 18px;
	width: 12px;
	height: 20px;
	display: flex;
	align-items: center;
	color: rgba(37,40,43,1.00);
	font-family: Lato;
	font-size: 14px;
	font-weight: 700;
	line-height: 20px;
}
.Summarizethedata_Summarizethedata .table .Age {
	position: absolute;
	left: 368px;
	top: 19px;
	width: 25px;
	height: 20px;
	display: flex;
	align-items: center;
	color: rgba(37,40,43,1.00);
	font-family: Lato;
	font-size: 14px;
	font-weight: 700;
	line-height: 20px;
}
.Summarizethedata_Summarizethedata .table .Gender {
	position: absolute;
	left: 540px;
	top: 19px;
	width: 47px;
	height: 20px;
	display: flex;
	align-items: center;
	color: rgba(37,40,43,1.00);
	font-family: Lato;
	font-size: 14px;
	font-weight: 700;
	line-height: 20px;
}
.Summarizethedata_Summarizethedata .table .Disorders {
	position: absolute;
	left: 734px;
	top: 18px;
	width: 61px;
	height: 20px;
	display: flex;
	align-items: center;
	color: rgba(37,40,43,1.00);
	font-family: Lato;
	font-size: 14px;
	font-weight: 700;
	line-height: 20px;
}
.Summarizethedata_Summarizethedata .table .Treatingphysician {
	position: absolute;
	left: 942px;
	top: 18px;
	width: 118px;
	height: 20px;
	display: flex;
	align-items: center;
	color: rgba(37,40,43,1.00);
	font-family: Roboto;
	font-size: 14px;
	font-weight: 700;
	line-height: 20px;
}
.Summarizethedata_Summarizethedata .table .IconToggleRadioUncheckedFill {
	position: absolute;
	left: 774px;
	top: 130px;
	width: 2.18978102189781%;
	height: 10.81081081081081%;
}
.Summarizethedata_Summarizethedata .table .IconToggleRadioUncheckedFill .icontoggleradio_button_unchecked_24px {
	visibility: hidden;
	position: absolute;
	left: 2px;
	top: 2px;
	width: 83.33333333333334%;
	height: 83.33333333333334%;
}