
.Datasetselectionforanalysis_Datasetselectionforanalysis {
	/* width: 1544px; */
	width: 100%;
	height: 1097px;
	position: relative;
	left: 0px;
	top: 0px;
	margin: auto;
	width: 100%;
	height: 100vh;
	overflow: auto;
	background: rgb(256, 256, 256);
	border: 1px solid rgba(0,0,0,1);
	box-sizing: border-box;
}

 /* .Definedesiredgroup {
	position: absolute;
	left: 585px;
	top: 155px;
	width: 329px;
	height: 29px;
	display: flex;
	justify-content: center;
	text-align: center;
	align-items: center;
	color: rgba(0,0,0,1.00);
	font-family: Arial, Helvetica, sans-serif;
	font-size: 22px;
	font-weight: 700;
	line-height: 28.957210540771484px;
} */
.Datasetselectionforanalysis_Datasetselectionforanalysis .Header {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 1534px;
	height: 80px;
}
.Datasetselectionforanalysis_Datasetselectionforanalysis .Header .Rectangle {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	background: rgba(14,25,64,1.00);
}
.Datasetselectionforanalysis_Datasetselectionforanalysis .Header .IconLogOut {
	position: absolute;
	left: 1475px;
	top: 24px;
	width: 2.2222222222222223%;
	height: 40%;
}
.Datasetselectionforanalysis_Datasetselectionforanalysis .Header .IconLogOut .Frame {
	position: absolute;
	left: 1.333251953125px;
	top: 2.6666717529296875px;
	width: 91.66641235351562%;
	height: 83.33334922790527%;
}
.Datasetselectionforanalysis_Datasetselectionforanalysis .Header .IconLogOut .Frame .Group {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
}
.Datasetselectionforanalysis_Datasetselectionforanalysis .Header .IconLogOut .Frame .Group .Vector {
	position: absolute;
	left: 10.476318359375px;
	top: 5.925933837890625px;
	width: 64.28601153567654%;
	height: 55.55556191338312%;
}
.Datasetselectionforanalysis_Datasetselectionforanalysis .Header .IconCircleFill {
	position: absolute;
	left: 1400px;
	top: 24px;
	width: 2.2222222222222223%;
	height: 40%;
}
.Datasetselectionforanalysis_Datasetselectionforanalysis .Header .IconCircleFill .Mask {
	position: absolute;
	left: 2.666748046875px;
	top: 2.6666717529296875px;
	width: 83.33358764648438%;
	height: 83.33334922790527%;
}
.Datasetselectionforanalysis_Datasetselectionforanalysis .Header .ElmindaLogo {
	position: absolute;
	left: 20px;
	top: 23px;
	width: 9.583333333333334%;
	height: 37.37499237060547%;
}
.Datasetselectionforanalysis_Datasetselectionforanalysis .Header .ElmindaLogo .Group_1 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100.33446864190626%;
}
.Datasetselectionforanalysis_Datasetselectionforanalysis .Header .ElmindaLogo .Group_1 .Vector_2 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
}
.Datasetselectionforanalysis_Datasetselectionforanalysis .Header .RichardMcClintock {
	position: absolute;
	left: 1165px;
	top: 18px;
	width: 15.48611111111111%;
	height: 27.500000000000004%;
	color: rgba(227,242,253,1.00);
	font-family: Roboto;
	font-size: 24px;
	font-weight: 500;
	line-height: 28.125px;
}
.Datasetselectionforanalysis_Datasetselectionforanalysis .Header .Elminda {
	position: absolute;
	left: 1165px;
	top: 42px;
	width: 8.88888888888889%;
	height: 27.500000000000004%;
	color: rgba(227,242,253,1.00);
	font-family: Roboto;
	font-size: 18px;
	font-weight: 400;
	line-height: 21.09375px;
}
.Tables{
	position: absolute;
	left: 450px;
	/* display: flex; */
	top: 220px;
	/* width: 800px; */
  /* height: 100vh; */
  /* justify-content: flex-start; */
  /* align-items: center; */
}

table {
	border: 2px solid forestgreen;

	/* width: 100%; */
	/* height: 200px; */
  }
	
  th {
	border-bottom: 1px solid black;
	text-align: center;
  }
	
  td {
	text-align: center;
  }

  #LoadingTable{
	font-size: 100px;
  }

  tr{
	border-bottom: 1px solid black;
  }
  #LinkToGraphs{
	position: absolute;
	left: 450px;
	top:160px;
	font-family: Arial, Helvetica, sans-serif;
	background-color:white;
	width: 130px;
	height: 50px;
	font-size: 18px;
  }