
.Thumbnail_Thumbnail {
	visibility: hidden;
	position: relative;
	left: 0px;
	top: 0px;
	margin: auto;
	width: 100%;
	height: 100vh;
	overflow: auto;
}
.Thumbnail_Thumbnail .coverimage1 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 1440px;
	height: 1080px;
	object-fit: cover;
	overflow: hidden;
}